* {
    font-family: Roboto;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #f61cd2;
    margin: 0 0 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
    color: #ff9beb;
    margin: 0 0 10px 0;
}